/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table {
  margin: 0 auto;
}

.highlight-pane {
  position: relative;
}

.edit-highlight {
  opacity: 0.20;
  -moz-opacity: 0.20;
  -khtml-opacity: 0.20;
  filter: alpha(opacity=20);
  background-color: #66FFE7;
}

.highlight {
  position: absolute;
  font-size: 0;
  line-height: 0;
  cursor: text;
  border-style: none;
}

.text {
  width: 140px;
  min-height: 17px;
  font-family: monospace;
  font-size: 14px;
}

